* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 1.5rem;
}
#search-form {
  height: 55px;
}
#search-box {
  padding: 0 20px;
}
#search-box::placeholder {
  font-size: 1rem;
}
#search-btn {
  font-size: 1rem;
  padding: 0 16px;
}
#show-more-btn {
  padding: 8px 12px;
}